transformers
huggingface_hub
accelerate>=0.31.0
prometheus-client
aixblock-ml
aixblock-sdk==0.0.5
aixblock-tools
tensorboardX
gradio
redis
rq
flask>=2.2
flask-cors
Werkzeug>=2.0
gunicorn>=20.0
colorama
lxml
appdirs
gitpython
centrifuge-python
opencv-python>=4.1.1
numpy
grafana-api
diffusers
datasets
trl
peft
scipy
bitsandbytes>=0.41.3
langchain
langchain_community
nvidia-ml-py
wandb
langchain_huggingface
flask_swagger_ui
pyyaml
gradio_log
tf-keras
loguru
about-time
rich
huggingface_hub[hf_xet]
apscheduler
fastapi
uvicorn
mcp
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu126
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu126
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu126
spaces